@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.full-height-image {
  height: 65vh; /* Set the height to 100% of the viewport height */
  overflow: hidden; /* Hide any overflow if the image exceeds the viewport height */
}

.full-height-image img {
  width: 100%; /* Make sure the image takes the full width of the container */
  height: 100%; /* Make sure the image takes the full height of the container */
  object-fit: cover; /* Preserve the aspect ratio and cover the entire container */
}